 body{background-color: rgb(57, 57, 57);align-items: center; justify-content: center;color: white;}
header{display: flex; flex-direction: row; align-items: center;justify-content: center;background-color: black;}
.nav{display: flex; flex-direction: row; align-items: center;justify-content: space-around ;width: 100%;background-color: black;}
.container{display: flex;flex-direction: row;align-items: center; justify-content: center;flex-wrap: wrap;}
.container>div{width: 300px;}
.content{display: flex; flex-direction: column; align-items: center; justify-content: center}
img{max-width: 300px;}