
:root {
  --device-width: 100vw;
  --device-height: 100vh;
  --red: #f06363;
  --blue: #2e5df7;
  --deepblue:#082997;
}
body{
    background-color: #1b2d69;
    color: #dff3ff;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 4px;
}
.half-grid{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    margin: 4px;
}
.quarter-grid{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 4px;
    gap: 10px;
}
ul{
    list-style: none;
     margin: 0;          
    padding: 0;  
}
.container-vertical{
     display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 4px;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-horizontal{
     display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 4px;
    flex-direction: row;
    flex-wrap: wrap;
}
a{
    color: red;
}
button{
    background-color: rgb(255, 73, 73);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    margin: 5px;
}
.box{
    background-color: #082997;
    border: solid white;
    max-height: 250px;
    overflow-y: scroll;
}
.table{
    background-color: #9bc8e4;
    color: black;
    margin: 1%;
}

.b{
    border: solid white;
}
