:root {
  --device-width: 100vw;
  --device-height: 100vh;
  --red: #f06363;
  --blue: #2e5df7;
  --deepblue:#082997;
}

.container{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 4px;
}
.half-grid{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    margin: 4px;
}
.quarter-grid{
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 4px;
    gap: 10px;
}
ul{
    list-style: none;
     margin: 0;          
    padding: 0;  
}
.container-vertical{
     display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 4px;
    flex-direction: column;
}
.container-horizontal{
     display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 4px;
    flex-direction: row;
    flex-wrap: wrap;
}
.tab-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.nav{
    display: flex;
    overflow-x: auto;
    background-color: rgb(102, 102, 237);
}
.nav>div{
    padding: 1%;
    color: white;
    margin: 0.5%;
}
.tab{
    display: none;
    width: 100%;
    background-color: rgb(49, 49, 145);
    color: white;
    border: solid;
}
.tab.active{
    display: flex;
}
